.footer {
    text-align: center;
    padding: 20px;
    background-color: #18091c;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0; /* Ensures the footer is always at the bottom */
    left: 0; /* Aligns it to the left edge */
  }
  