/* Center the checkout form */
.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* Title styling */
.checkout-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

/* Payment input field */
.checkout-input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    margin-bottom: 15px;
    outline: none;
}

/* Button styling */
.checkout-button {
    background-color: #502c5e;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

/* Button hover effect */
.checkout-button:hover {
    background-color:  #781a9a;
}
