#search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Space between input and button */
    margin: 20px 0;
  }
  
  #search input {
    width: 300px; /* Set the width of the search input */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #search button {
    padding: 10px 20px;
    background-color: #310f39;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  #search button:hover {
    background-color: #620a55; /* Darker shade when hovering */
  }
  
  #search input:focus {
    outline: none;
    border-color: #620a55; /* Border color change on focus */
  }
  